body{
    margin: 0;
}

#atas{
    width: 100px;
    height: 100px;
    float: left;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: grey;
}


